@model master_page_demo.Models.Member

@{
    ViewBag.Title = "About_game";
}

<nav class="navbar navbar-inverse">

    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" > <h4> Game Zone</h4></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/Home/index">Home</a></li>
            <li class="dropdown">
                <a href="~/Home/About_game">about </a>

            </li>
            <li><a href="~/Home/contact_game">contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="~/Home/Membership"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="~/Home/login_page"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
    </div>
</nav>
<div class="container body-content">
    Games mirror the way the human mind was designed to learn. They motivate players to take risks and actions, persevere through failures, set and achieve increasingly difficult goals, and devote attention, time, and effort to acquiring knowledge and skills.
    Reason #1 - Games are skill-builders!
    Of course, one of the main reasons we think games are important is that they encourage growth and development, whether this in an educational setting or at home. All the of games we use in schools are educational and we have a huge range to cover every aspect of learning and the National Curriculum from Maths and Literacy to problem solving! Of course, the benefits don't just stay in the classroom. If your children lack the ability to 'play fair' or 'take it in turns' games are a great way to practice these skills (and also may, in turn, stop any frequent squabbles!)

    Reason #2 - Games bring people together!
    Games are one of the greatest ways to get people sitting down together and having a conversation. Lock all electrical devices away in a cupboard for an evening and get the family together. Our games are also great to get groups of children to work together in the classroom and to talk about ways to solve a problem or which move will crown you the winner! You never know, you may just create some friendships from it!

    Reason #3 - Games are an instant mood lifter!
    Well...depending on if you choose the right one! Games are great for having a laugh and this reason definitely links in with Reason #2. The amount of smiles and giggles we've witnessed over the years has definitely been way too many to count! If you've had a bad day at work or your brother or sister broke your favourite toy, there's no better way to get back to your cheery self than by grabbing your favourite game and playing!

    Reason #4 - Games teach you to be the best you can be!
    Games aren't all about the winning, they're about trying your absolute best and still being happy with the outcome because you had a great experience. The more you play a game, the more you improve and you'll be surprised at how much quicker you can do something, or how much easier you find a certain task. This doesn't just apply in the land of games, you may find yourself completing every day tasks more quickly and also performing better at school in that subject you found particularly difficult.
</div>

